body {
    background-color: white;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h3 {
    color: darkmagenta;
    text-align: center;
}

p {
    color: darkorchid;
    text-align: center;
    text-indent: 50px;
}

ul {
    padding: 20px;
    list-style-position: inside;
}