body {
    background-color: lightgray;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h3 {
    color: darkmagenta;
    text-align: center;
}

p {
    color: darkorchid;
    text-align: center;
    text-indent: 50px;
}

ul {
    font-size: 20px;
    padding: 20px;
    list-style-position: inside;
}

img {
    width: 500px;
    heigth: 500px;
}
